# Dependency directories
node_modules/

# Exported files
build/*

# Delete these if you want to commit your palettes
**/palettes/*
!**/palettes/*.example.ts

# macOS
.DS_Store

# Preserve empty folders
!.gitkeep
